parameters:
    database:
        host: mysql-master
        dbname: bbb_test_seats
        user: root
        password: root
        dsn: 'mysql:host=%database.host%'

services:
    cacheStorage:
        factory: Nette\Caching\Storages\DevNullStorage
    http.requestFactory:
        factory: App\Tests\RequestFactory

# do not start session, as it creates httpRequest (without the mocked input)
session:
    autoStart: false

security:
    users:
        jamesbond: 007

