<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Vítejte na portálu listky.bigbandbiskupska.cz</title>
    <style>
        body {
            background: white
        }
    </style>
</head>
<body>
<p>Dobrý den {$name} {$surname},</p>
<br/>
<p>vítejte na portálu listky.bigbandbiskupska.cz, který slouží k interní rezervaci lístků na akce Big Bandu
    Biskupská.</p>
<p>Dnes vám byl vytvořen účet a nyní můžete kliknutím na odkaz níže pokračovat vytvořením nového hesla pro vstup do
    systému.</p>
<br/>
<p><a href="{$new_password_link}" title="Odkaz na vytvoření nového hesla">{$new_password_link}</a></p>
<br/>

<p>S pozdravem</p>
<br/>
<p>Kryštof</p>
</body>
</html>